body {
  background-color: hsl(0, 0%, 96%);
  font-family: "DM Sans", sans-serif;
}

.leftColCard1 {
  background-color: hsl(31, 66%, 93%);
  height: 300px;
  font-size: 18px;
}

.leftColCard2 {
  background-color: hsl(39, 100%, 71%);
  height: 300px;
  font-size: 14px;
}

.leftColCard2 img {
  width: 80%;
}

.quickerText {
  color: hsl(256, 67%, 59%);
  font-style: italic;
}

.createPostIcon {
  width: 80%;
  height: auto;
}

.middleColCard1 {
  background-color: hsl(256, 67%, 59%);
  min-height: 250px;
  font-size: 18px;
}

.tenXText {
  color: hsl(39, 100%, 71%);
}

.middleColCard3 {
  background-color: hsl(39, 100%, 71%);
}

.middleColCard5 {
  background-color: hsl(256, 67%, 59%);
}

.rightColCard1 {
  background-color: hsl(254, 88%, 90%);
}

.maintainImgWrapper {
  overflow: hidden;
  height: 120px;
}

.maintainImgWrapper img {
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.scheduleImg {
  width: 140%;
  margin-right: -40%;
}

.scheduleOptimize {
  background-color: hsl(254, 88%, 90%);
}
