body {
  background-color: hsl(0, 0%, 96%);
  font-family: "DM Sans", sans-serif;
}

.leftColumnItem1 {
  background-color: hsl(31, 66%, 93%);
}

.leftColumnItem2 {
  background-color: hsl(39, 100%, 71%);
}

.quickerText {
  color: hsl(256, 67%, 59%);
  font-style: italic;
}

.createPostIcon {
  width: 100%;
  height: auto;
}

.middleColumnItem1 {
  background-color: hsl(256, 67%, 59%);
}

.tenXText {
  color: hsl(39, 100%, 71%);
}

.middleColCard3  {
  background-color: hsl(39, 100%, 71%);
}

.middleColCard5 {
  background-color: hsl(256, 67%, 59%);
}

.rightColCard1 {
  background-color: hsl(254, 88%, 90%);
}