body {
  background-color: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed", sans-serif;
}

.container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* .col-lg-3 {
  display: flex;
} */

.card {
  margin-bottom: 1.5rem; /* adds a bottom margin to all cards */
}

.daniel {
  background-color: hsl(263, 81%, 43%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.jonathan {
  background-color: hsl(217, 19%, 35%);
}

.kira {
  flex: 1;
  background-color: hsl(0, 0%, 100%);
}

.jeanette {
  background-color: hsl(0, 0%, 100%);
}

.patrick {
  background-color: hsl(219, 29%, 14%);
}

/* @media (min-width: 50em) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
  }
} */
